/*
A Grip on Git - A simple, visual Git tutorial
Copyright (C) 2016  Vincent Tunru

This program is free software; you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation; version 2.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License along
with this program; if not, write to the Free Software Foundation, Inc.,
51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
*/

@import "settings";
@import "~foundation-sites/scss/foundation/components/type";
@import "~foundation-sites/scss/foundation/components/grid";
@import "~foundation-sites/scss/foundation/components/panels";
@import "~highlight.js/styles/monokai";

$visited-font-color: $white;
$current-section-bg: darken($body-bg, 5%);
$current-section-border-color: $white;
$commit-head-color: lime;
$branch-current-color: yellow;
$branch-other-color: $iron;
$highlight-duration: 200ms;
$expand-duration: 400ms;
$node-appear-duration: 500ms;
$node-disappear-duration: 100ms;

.agripongit{
  padding-bottom: 100%;
}

.javascriptDisabled{
  @include panel(transparent);
  border: 1px dashed $white;
  position: absolute;
  top: 37.5vh;
  left: 12.5vw;
  width: 25vw;
  height: 25vh;

  animation-fill-mode: both;
  animation-delay: 3s;
  animation-duration: $node-appear-duration;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-name: appear;
}

.mobileWarning{
  @media(min-width: 850px){
    display: none;
  }

  @include panel($primary-color);
  border: 0 none transparent;

  position: absolute;
  z-index: 10;
  width: 100%;
  text-align: center;
}

@keyframes appear{
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.text{
  @include grid-column($columns: 6);

  @media #{$xlarge-up}{
    @include grid-column($columns: 5, $offset: 1);
  }
  @media #{$xxlarge-up}{
    @include grid-column($columns: 4, $offset: 2);
  }

  h1{
    color: $primary-color;
    text-transform: capitalize;
  }

  p code{
    background: inherit;
    border-style: none;
    color: inherit;
    padding: 0;
    font-weight: bolder;
  }

  pre{
    margin: 1rem;
  }
}

.intro{
  @include lead;
  margin-bottom: 10rem;

  h1{
    margin-top: 3em;
    text-align: center;

    .logo{
      display: block;
      margin: 1em auto;
    }

    small{
      color: $subheader-font-color;
    }
  }

  .stats{
    font-size: $paragraph-aside-font-size;
    line-height: $paragraph-aside-line-height;
    @include subheader;
    @extend .text-center;
  }
}

@keyframes hover{
  from {
    top: 0;
  }

  50%{
    top: 5px;
  }

  to {
    top: 0px;
  }
}

.intro, .outro{
  padding: 1em 2em;
}

.outro{
  margin-top: 33vh;
}

.backMatter{
  margin-top: 0;
  margin-bottom: 50vh;
  padding: 5em 0;
  text-align: center;
}

section{
  color: $iron;
  padding-top: 50vh;

  & > div{
    padding: 2em 2em;
    border: 1px solid transparent;

    // Make the div overlap with the left border of the visualisation.
    // That way, we can make the border the same colour as the background
    // to make it appear to be connected to it.
    z-index: 1;
    transform: translateX(1px);
  }

  &.is-visited, &.intro, &.outro{
    color: $visited-font-color;
  }

  &.is-current > div {
    transition: background $highlight-duration ease-in,
                border-color $highlight-duration ease-in;
    background: $current-section-bg;
    border-color: $current-section-border-color;
    border-right-color: $current-section-bg;
  }
}

.visualisation{
  width: 0;

  position: fixed;
  top: 0;
  left: calc(50% - 1rem);
  min-height: 100%;
  border-left: 1px solid $body-bg;
  background: $current-section-bg;

  &.started{
    //          <property name> <duration> <timing funciton> <delay>
    transition: width $expand-duration ease-in $highlight-duration,
                border-left-color $expand-duration ease-in $highlight-duration;
    border-left-color: $current-section-border-color;
    width: 50%;
  }
}

.repository{
  color: $iron;
  border: 3px dashed $iron;
  text-align: center;

  position: absolute;
  top: 37.5vh;
  left: 12.5vw;
  width: 25vw;
  line-height: 25vh;

  opacity: 0;

  .started &{
    transition: opacity $node-appear-duration ease-in ($highlight-duration + $expand-duration);
    opacity: 1;
  }

  &.hasCommits{
    transition: opacity $node-disappear-duration ease-in;
    opacity: 0;
  }
}

svg{
  #head{
    fill: $commit-head-color;
  }

  text{
      font-family: monospace;
  }

  .branch{
    fill: $branch-other-color;
    transition: fill 1s;

    &.is-current{
      fill: $branch-current-color;
      font-weight: bold;
    }
  }

  #circleFill{
    stop:first-child{
       stop-color: $primary-color;
    }
    stop:nth-last-child(2){
       stop-color: darken($primary-color, 5%);
    }
    stop:last-child{
       stop-color: darken($primary-color, 10%);
    }
  }

  #borderFill{
    stop:first-child{
       stop-color: $primary-color;
    }
    stop:nth-last-child(2){
       stop-color: lighten($primary-color, 5%);
    }
    stop:last-child{
       stop-color: $primary-color;
    }
  }

  circle{
    fill: url(#circleFill);
    stroke: url(#borderFill);
    stroke-width: 0.1;
  }

  .trees-enter{
    opacity: 0;

    &.trees-enter-active{
      transition: opacity $node-appear-duration ease-in;
      opacity: 1;
    }
  }

  line.trees-enter.trees-enter-active{
    // Lines run between the center points of two circles, which looks weird when the circle
    // is (semi-)transparent. Therefore, we delay animating the line until both circles have been
    // rendered.
    transition: opacity $node-appear-duration ease-in $node-appear-duration;
  }

  .trees-leave{
    opacity: 1;

    &.trees-leave-active{
      transition: opacity $node-disappear-duration ease-in;
      opacity: 0.1;
    }
  }

  line{
    stroke: $branch-other-color;
  }
}

/*
The following is necessary because Internet Explorer doesn't properly scale SVG,
resulting in the visualisation not being visible there.
See https://stackoverflow.com/questions/23630732/svg-width-in-ie9#23631383

It shouldn't alter the appearance in other browsers.
*/
.containsSvg{
  height: 0;
  padding-bottom: 100%;

  svg{
    position: absolute;
  }
}
